<html xmlns:th="https://thymeleaf.org">
<table>
    <tr>
        <td><h4>Usuario: </h4></td>
        <td><h4 th:text="${paciente.nombre}"></h4></td>
    </tr>
    <tr>
        <td><h4>Apellido: </h4></td>
        <td><h4 th:text="${paciente.apellido}"></h4></td>
    </tr>
    <tr>
        <td><h4>Domicilio: </h4></td>
        <td><h4 th:text="${paciente.domicilio}"></h4></td>
    </tr>
    <tr>
        <td><h4>Tipo Documento: </h4></td>
        <td><h4 th:text="${paciente.tipoDocumento}"></h4></td>
    </tr>
    <tr>
        <td><h4>Fecha Alta: </h4></td>
        <td><h4 th:text="${paciente.fechaAlta}"></h4></td>
    </tr>
    <tr>
        <td><h4>Usuario: </h4></td>
        <td><h4 th:text="${paciente.usuario}"></h4></td>
    </tr>
    <tr>
        <td><h4>Password: </h4></td>
        <td><h4 th:text="${paciente.password}"></h4></td>
    </tr>

</table>
</html>